<a href="https://colab.research.google.com/github/Rahat-Ferdause/Google-Colab2/blob/main/Class_2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("My First Code in Colab")

My First Code in Colab

## *introduction*

In [ ]:
print('My first code in google colab')

My first code in google colab

# *Assignment*

# **2.1 Create variables for your name, age, and favorite color, then print them with descriptive labels.**

In [ ]:
name= "Rahat"
address = "Khulna"
age = "26"
favorite_color = "Blue"
print("Name:", name)
print("Age:", age)
print("Address:", address)
print("favorite_color:", favorite_color)

Name: Rahat
Age: 26
Address: Khulna
favorite_color: Blue

# **2.2. Create one variable of each type and use the type() function to verify its type.**

In [ ]:
name = "Rahat"
age = 25
price = 99.99
is_valid = True
result = None
print(type(name))
print(type(age))
print(type(price))
print(type(is_valid))
print(type(result))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

# **2.3. Calculate the area and perimeter of a rectangle with length 7 and width 5**

In [28]:
length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)

print("Area of the rectangle:", area)
print("Perimeter of the rectangle:", perimeter)

Area of the rectangle: 35
Perimeter of the rectangle: 24

# **2.4. Create a list of 5 Bangladeshi foods, then access the first and last elements.**

In [ ]:
Bangladeshi_food = ["apple", "banana", "orange", "mango", "pineapple"]
first_element = Bangladeshi_food[0]
last_element = Bangladeshi_food[-1]
print("First Element:", first_element)
print("Last Element:", last_element)

First Element: apple
Last Element: pineapple

# **2.5 Create a list of 5 numbers, add a new number, remove one, and then sort the list.**

In [ ]:
Numbers = [4, 2, 1, 5, 3]
Numbers.append(6)
print(Numbers)

Numbers.remove(4)
print(Numbers)

Numbers.insert(4, 4)
print(Numbers)

Numbers.sort()
print("Ascending order:", Numbers)

Numbers.reverse()
print("Descending order:", Numbers)

[4, 2, 1, 5, 3, 6]
[2, 1, 5, 3, 6]
[2, 1, 5, 3, 4, 6]
Ascending order: [1, 2, 3, 4, 5, 6]
Descending order: [6, 5, 4, 3, 2, 1]

# **2.6 Create a dictionary about yourself with at least 4 key-value pairs.**

In [ ]:
Profile = {
    "name": "Ferdause Rahatul",
    "age": 26,
    "isstudent": True,
    "address": "Khulna",
    "course": ["Data Science", "Business Analytics", "Cyber Security"]
}
name = Profile["name"]
age = Profile["age"]
address = Profile["address"]
course = Profile["course"][0]
print(name)
print(age)
print(address)
print(course)

Ferdause Rahatul
26
Khulna
Data Science

# **2.7 Create a tuple with the latitude and longitude of a famous place in Bangladesh.**

In [ ]:
# Latitude and Longitude of Cox's Bazar
Beach = (21.4272, 92.0000)
print("Latitude:", Beach[0])
print("Longitude:", Beach[1])

Latitude: 21.4272
Longitude: 92.0

# **2.8 Create two sets of colors and find their union and intersection**

In [ ]:
color_1 = {"Blue", "Green", "Black", "Brown"}
color_2 = {"Blue", "Green", "Orange", "Red"}

color_1.add("Yellow")
print(color_1)

color_1.update(["Magenta", "White"])
print(color_1)

intersection = color_1.intersection(color_2)
print("Intersection:", intersection)

union = color_1.union(color_2)
print("Union:", union)

{'Brown', 'Yellow', 'Blue', 'Green', 'Black'}
{'Brown', 'Yellow', 'Blue', 'Green', 'White', 'Magenta', 'Black'}
Intersection: {'Blue', 'Green'}
Union: {'Brown', 'Yellow', 'Blue', 'Orange', 'Green', 'White', 'Red', 'Magenta', 'Black'}

# **2.9 Write a program that checks if a number is positive, negative, or zero.**

In [ ]:
number = int(input("Enter a number: "))

if number > 0:
  print("The number is positive.")
elif number < 0:
  print("The number is negative.")
else:
  print("The number is zero.")

Enter a number: -21
The number is negative.

# **2.10 Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).**

In [ ]:
is_student = True
is_senior = True
student_age = 22
senior_age = 21

              #method 1
#if is_student and is_senior:
#  if (student_age < 25) and (senior_age > 60):
#    print("Both are eligible for a discount.")

#  elif student_age < 25:
#    print("Student are eligible for a discount.")

#  elif senior_age > 60:
#    print("Senior are eligible for a discount.")

#  else:
#    print("Both are not eligible for a discount.")

#else:
#  print("You are not eligible for a discount.")


              #method 2
#if is_student and is_senior:
#  if (student_age < 25) or (senior_age > 60):
#    print("You are eligible for a discount.")
#  else:
#    print("You are not eligible for a discount.")
#else:
#  print("You are not eligible for a discount.")


              #method 3
if is_student and is_senior:
  if (is_student and student_age < 25) and (is_senior and senior_age > 60):
    print("Both are eligible for a discount.")

  elif is_student and student_age < 25:
      print("student are eligible for a discount.")

  elif is_senior and senior_age > 60:
      print("senior are eligible for a discount.")

  else:
    print("Both are not eligible for a discount.")

else:
  print("You are not eligible for a discount.")

student are eligible for a discount.

# **2.11 Write a program that prints the first 10 even numbers using a for or while loop.**

In [ ]:
#for i in range(0,20,2):
#  print(i)
count = 0
while count < 20:
  print(count)
  count += 2

0
2
4
6
8
10
12
14
16
18

# **2.12 Write a program that prints a simple number pyramid pattern using nested loops.**

In [ ]:
# Pattern printing
for i in range(0, 10):
  if i % 2 == 0:
    continue
  print("*" * i)

*
***
*****
*******
*********

# **2.13 Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32**

In [30]:
#celsius = 35
def convert(celsius):
  celsius = 35
  #global celsius
  fahrenheit = ((celsius * 9/5) + 32)
  return fahrenheit
print(convert(celsius))

95.0

# **2.14 Create a function with default parameters that calculates the area of a rectangle.**

In [26]:
def calculate_rectangle_area(length, width):
  area = length * width
  return area

rectangle_area = calculate_rectangle_area(5, 7)
print("The area of the rectangle is:", rectangle_area)

The area of the rectangle is: 35